snippet af
	${1} = (${2}) => {
		${3}
	}

# REACT
snippet im
	import ${1} from '${2}'
snippet ims
	import classes from './${0:`substitute(vim_snippets#Filename(), '\(_\|^\)\(.\)', '\u\2', 'g')`}.css'
snippet ir
	import React from 'react'
snippet dc
	import React from 'react'

	const ${0:`substitute(vim_snippets#Filename(), '\(_\|^\)\(.\)', '\l\2', 'g')`} = (${1:props}) => (
		${2}
	)

	export default ${0:`substitute(vim_snippets#Filename(), '\(_\|^\)\(.\)', '\l\2', 'g')`}
